@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-background-500 text-black-500;
}

@layer utilities {
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }
  p {
    @apply text-p;
  }
}

@media (min-width: 376px) {
  h6 {
    font-size: 32px;
    line-height: 48px;
  }
}
