@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
  }
  html {
    color-scheme: light !important;
  }

  body {
    @apply bg-background-500 text-black-500;
  }
}
@layer utilities {
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }
  h6 {
    @apply text-h6;
  }
  p {
    @apply text-p;
  }

  .liner-gradient {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 9px, transparent 9px) 0% 0%/10px
        10px no-repeat,
      radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 9px, transparent 9px) 100% 0%/10px 10px
        no-repeat,
      radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 9px, transparent 9px) 0% 100%/10px 10px
        no-repeat,
      radial-gradient(circle at 0 0, #ffffff 0, #ffffff 9px, transparent 9px) 100% 100%/10px 10px
        no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 2px) calc(100% - 20px) no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 20px) calc(100% - 2px) no-repeat,
      linear-gradient(#248888 0%, #ff9506 100%) 0 100%/50% 100%;
  }

  .carousel-content:first-child > :first-child {
    margin-left: 4px;
  }

  .carousel-arrow > * {
    height: 0;
    border: none;
  }

  .carousel-arrow.carousel-arrow-prev {
    background: url('../../public/icons/prev.svg') 0 / 100% no-repeat;
  }
  .carousel-arrow.carousel-arrow-next {
    background: url('../../public/icons/next.svg') 0 / 100% no-repeat;
  }
  .search-input-hero::placeholder {
    background: url('../../public/icons/search.svg') 10px / 16px no-repeat;
  }
  .search-input-hero:focus::placeholder {
    background-image: none;
  }
}
@media (min-width: 768px) {
  h6 {
    font-size: 32px;
    line-height: 48px;
  }
}
